# Ignore Virtual Environments and Portable Python
venv/
placement_env/
portable_env/
portable_python/
requirements_cache/

# Ignore Python specific junk
__pycache__/
*.py[cod]
*.spec

# Ignore Large Data (Optional - keep if under 100MB)
# data/

# Ignore VS Code settings
.vscode/